.code-example-wrap {
  margin: 20px 0 30px;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
.code-example-wrap.code-example-dark {
  background: rgb(47, 47, 47);
}
.code-example pre {
  margin: 0;
}
.code-example {
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.code-example-comp {
  position: relative;
  padding: 20px;
}
.code-example-btn {
  position: relative;
  display: block;
  height: 45px;
  background: #F6F8FA;
  border-top: 1px dashed #ebedf0;
  transition: opacity .3s;
  line-height: 45px;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
.code-example-btn:hover {
  opacity: .8;
}
.code-example-btn .code-example-btn-txt{
  position: absolute;
  top: 0;
  right: 20px;
  color: #999;
}
.code-example-code {
  border-top: 1px dashed #ebedf0;
  font-size: 14px;
  display: none;
  overflow: hidden;
}
.code-example-code.expend {
  display: block;
}

/* 覆盖markdown默认样式 */
.storybook-readme-story .markdown-props-table {
  margin-top: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.storybook-readme-story .markdown-props-table h3 {
  padding-bottom: .3em;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 1.5;
}